<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz Clicker</title>
</head>

<body ng-app="QuizClicker" ng-controller="QuizController">

  <h1>This is the Quiz</h1>
    <input type="text" ng-model="quizName" name="" value="">
    <input type="text" ng-model="phone" name="" value="">
    <button type="button" ng-click="handleClick()" name="">Click this Shit</button>
    <h3>Your Name is {{quizName}}</h3>
    <h3>Your Phone is {{phone}}</h3>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js" charset="utf-8"></script>
    <script>
      var app = angular.module('QuizClicker', []);
      app.controller('QuizController', ['$scope', function($scope){
        $scope.quizName = "mom";
        $scope.phone = "dad"
        $scope.handleClick = function() {
          console.log($scope.quizName, $scope.phone);

        }
      }]);
    </script>
  </body>
</html>
